html{
    font-size:100%;
}

body{
    line-height: 1.7;
    color:#432;
}

a {
    text-decoration: none;
}

img{
    max-width:100%;
}

button{
   /* ブラウザ特有のスタイルを無効にする */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.btn, .movebtn{
  height: 35px;
  width: 80px;
  text-decoration: none;
  background: #fdc689;
  color: gray;
  text-align: center;
  border-radius: 3px;
  box-shadow: 1px 2px 4px #d4842c;
}

.movebtn:active{  /* クリック時の設定 */
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow:none;
  }

.main-nav{
    display:flex;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 34px;
    list-style: none;
}

.main-nav li{
    margin-left: 36px;
}

.main-nav a{
    color:#432;
}

.main-nav a:hover{
    color:#0bd;
}

.page-header{
    display:flex;
    justify-content: space-between;
}

#home{
    height: 200px;
    margin-bottom: 40px;
}

.big-bg{
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.page-title{
    text-align: center;
}


.wrapper{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 4%;
}

.container{
    display:flex;
    flex-wrap:wrap;
    align-content: flex-start;
    height:auto;
}

.item{
    background: #f5f5f5;
    color: #fff;
    margin:10px;
    padding:10px;
}

.kigouList{
    justify-content: space-between;
    width:150px;
    height: 650px;
    overflow: scroll;
}

.logo{
    height: 100px;
}



/* ボタンの設定 */
.clbtn, .linebtn{
    margin-bottom: 5px;
    width: 60px;
    height: 30px;
}



/* 記号画像の設定 */
.imgKigou {
    width: auto;
    padding:0;
    margin:0;
    background:none;
    border:0;
    font-size:0;
    line-height:0;
    overflow:visible;
    cursor:pointer;
}

.active {
    background-color: lightblue;
}

/* フッター */
footer{
    background: lightblue;
    text-align: center;
    padding: 13px 0;
    
}

footer p{
    color: white;
    font-size: 0.875rem;
}

